@import './reset';

html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

$space: 1rem;

.main-container {
  $height-offset: $space * 2;

  padding: $space;
  min-height: calc(100vh - #{ $height-offset });
  background-color: #efefef;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  width: 15%;

  .sidebar-header {
    display: flex;
    align-items: center;
    padding: 1rem 0;

    h1 {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .gg-shape-rhombus {
      margin-right: 0.5rem;
    }
  }

  #movie-filter {
    flex: 1;
  }

  footer h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  .options-list {
    .options-item {
      padding: 0.4rem 0;
    }
  }

  .reset-filters-btn {
    margin-left: 1.4rem;
    background-color: #fff;
    border: none;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    color: #555;
    transition: color 100ms ease, box-shadow 100ms ease-in-out;

    &:hover {
      color: #222;
      cursor: pointer;
      box-shadow: 0 0.2rem 1rem -0.4rem rgba(0,0,0,0.4)
    }
  }
}

#movie-filter {
  .filter-entry {
    padding: 0.2rem 0;
  }
}

.card-board {
  display: flex;
  flex-flow: wrap;
}

.hero-card-wrapper {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.hero-card {
  $common-border-radius: 0.4rem;

  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 18rem;
  background-color: #fff;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 0 20px -10px rgba(0,0,0,0.3);
  transition: transform 140ms ease-out;

  &:hover {
    // transform: scale(1.1);
    cursor: pointer;
  }

  .hero-title {
    font-weight: bold;
  }

  .hero-info {
    font-size: 0.8rem;
  }

  .hero-detail {
    text-transform: capitalize;
    line-height: 1.2;
  }

  .hero-poster {
    position: relative;
    height: 100%;
    z-index: 1;

    .hero-poster-image {
      border-radius: $common-border-radius;
    }

    .hero-poster-header {
      padding: 0.4rem;
      text-align: right;

      button {
        position: relative;
        z-index: 100;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .toggle-overlay-btn {
    --ggs: 1.2;
    display: inline-block;
    border-radius: 50%;
    border-color: rgba(0,0,0,0);

    &::after {
      transition: transform 100ms ease;
    }
  }

  .toggle-overlay-btn:focus {
    outline: none;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 0.4rem;
    border-radius: $common-border-radius;
    transform: translateY(calc(100% - 5rem));
    transition: transform 240ms ease-in;

    .hero-movies {
      position: absolute;
      overflow-y: auto;
      max-height: 125px;
      transform: translateY(180%);
      transition: transform 150ms ease-in;
      font-size: 0.8rem;
    }

    &.show {
      transform: translateY(2.5rem);

      .hero-movies {
        transform: translateY(1rem);
      }
    }
  }
}
